<div class="col-md-12">
	<h3><%= t("helpers.submit.#{@_controller.action_name}") + ' ' +  t("activerecord.models.character_stat.one") %></h3>
</div>

<%= simple_form_for(@character_stat, html: {  }) do |f| %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="col-md-2 form-inputs">
					<%= f.input :strength, as: 'integer' %>
				</div>
				<div class="col-md-2 form-inputs">
					<%= f.input :dexterity, as: 'integer' %>
				</div>
				<div class="col-md-2 form-inputs">
					<%= f.input :constitution, as: 'integer' %>
				</div>
				<div class="col-md-2 form-inputs">
					<%= f.input :intelligence, as: 'integer' %>
				</div>
				<div class="col-md-2 form-inputs">
					<%= f.input :wisdom, as: 'integer' %>
				</div>
				<div class="col-md-2 form-inputs">
					<%= f.input :charisma, as: 'integer' %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 bulto"></div>
	<div class="col-md-12">
	  <%= f.submit t("helpers.submit.new"), class: 'btn btn-info' %>
	</div>
<% end %>