<% content_for :foot_js do %>
	<script type="text/javascript">
		$("#file").change(function(){
			picture(this);
		});

		function picture(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$("#jcrop").html("").append("<img src=\""+e.target.result+"\" alt=\"\" />");

					$("#jcrop  img").Jcrop({
						aspectRatio: 16 / 9,
						onChange: update_coords,
						onSelect: update_coords,
						boxWidth: 640,
						boxHeight: 380
					});
				}
				reader.readAsDataURL(input.files[0]);
			}
		}

		function update_coords(coords){
			$('#<%= object.class.name.underscore %>_crop_x').val(coords.x);
			$('#<%= object.class.name.underscore %>_crop_y').val(coords.y);
			$('#<%= object.class.name.underscore %>_crop_w').val(coords.w);
			$('#<%= object.class.name.underscore %>_crop_h').val(coords.h);
		}
	</script>
<% end %>

<div class="form-group">
	<%= form.label field, t("activerecord.attributes.#{controller_path.classify.underscore}.#{field}") %>
	<%= form.file_field field, id: "file", class: 'form-control' %>
	<% %w[x y w h].each do |attribute| %>
		<%= form.hidden_field "crop_#{attribute}" %>
	<% end %>
	<h3>Editor de <%= t("activerecord.attributes.#{controller_path.classify.underscore}.#{field}") %> </h3>
	<div id="jcrop"></div>
</div>
