<div class="navbar-collapse collapse" id="navbar-main">
  <ul class="nav navbar-nav">
    <% populate_navbar.each do |klass| %>
      <li class="dropdown menu-list" data-menu="menu">
          <a class="dropdown-toggle" data-toggle="dropdown" id="themes" href=<%= send("#{klass.first}_path") %> ><%= t("activerecord.models.#{klass.first.to_s.singularize.underscore}.other") %> <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
          <% klass.each do |nav| %>
            <% if current_user.can?("view_#{nav}") %>
              <li data-required-action="<%= actions_available(nav.underscore) %>">
                <%= link_to t("activerecord.models.#{nav.singularize}.other"), url_for(controller: nav, action: 'index'), tabindex: -1 %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if current_user.can?('manage_auth') %>
      <li class="dropdown menu-list" data-menu="menu">
        <a class="dropdown-toggle" data-toggle="dropdown" id="themes" href='#' >Administracion<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
          <li data-required-action="manage_users">
            <%= link_to t('activerecord.models.user.other'), users_path, tabindex: -1 %>
          </li>
          <li data-required-action="manage_roles">
            <%= link_to t("activerecord.models.role.other"), roles_path, tabindex: -1 %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        <%=current_user.login%> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <span class="badge">Mis aplicaciones:</span>
          <% current_user.external_apps.each do |external_app| %>
            <% if external_app.is_local %>
              <% current_user.allowed_local_shop_codes(current_shop.try(:code)).each do |shop_code| %>
                <li><%= link_to external_app.local_description(shop_code), external_app.local_url(shop_code) %></li>
              <% end %>
            <% else %>
              <li><%= link_to external_app.description, external_app.url %></li>
            <% end %>
          <% end %>
        <li role="presentation" class="divider"></li>

        <li><%= link_to 'Cambiar contraseña', change_password_url, tabindex: -1 %></li>
        <li><%= link_to 'Salir', logout_url, tabindex: -1 %></li>
      </ul>
    </li>
  </ul>
</div>
