<% object_class_name = object.class.name.underscore %>
<h3><%= t("activerecord.models.#{object_class_name}.one") + " #{object.display}" %></h3>

<% if object.attributes.length > 2 %>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% object.attributes.except('id').each do |attribute| %>
        <tr>
          <td><%= object.class.human_attribute_name attribute.first %></td>
          <td><%= index_attribute_renderer(attribute, object) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% @pagination = object.send(subclass.pluralize).paginate(page: params[:page]) %>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= t("activerecord.models.#{@pagination.first.class.name.underscore}.other") %></th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <% attributes = subclass.camelize.constantize.attribute_names - ['id'] %>
      <% attributes.each do |name| %>
        <th><%= t("activerecord.attributes.#{@pagination.first.class.name.underscore}.#{name}") %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% if @pagination.empty? %>
      <tr>
        <td colspan="100%" class="text-center"><%=t('tables.no_records')%></td>
      </tr>
    <% else %>
      <% @pagination.each do |item| %>
        <%= render partial: 'shared/subclass_show', locals:{object: item, name: subclass } %>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class='col-xs-12 no-spaces'>
  <div class='col-xs-9 no-spaces'>
    <% new_subclass = "#{t('helpers.submit.create') }  " + t("activerecord.models.#{subclass}.one") %>
    <%= link_to new_subclass, send("new_#{subclass}_path", "#{object_class_name}_id": object), class: 'btn btn-default' %>
    <%= link_to t('helpers.submit.back'), send("#{object_class_name}s_path"), class: 'btn btn-primary' %>
  </div>

  <div class='col-xs-3 align-paginate'>
    <%= pagination_links(@pagination) %>
  </div>
</div>

